---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Teaching Awards</h2>
<ul>
  <li> <a href="https://gsi.berkeley.edu/programs-services/award-programs/ogsi/ogsi-2021/"> Outstanding Graduate Student Instructor Award</a> (UC Berkeley, 2021): "The Outstanding Graduate Student Instructor (OGSI) Award honors UC Berkeley GSIs each year for their outstanding work in teaching on the Berkeley campus. Nominees must not exceed 10% of the total number of individuals appointed as GSIs."</li>
  <li> <a href="https://rtl.berkeley.edu/extraordinary-teaching-extraordinary-times-award"> Extraordinary Teaching in Extraordinary Times Award</a> (UC Berkeley, 2020): "The Extraordinary Teaching in Extraordinary Times Award is intended to honor UC Berkeley faculty, staff, and student instructors who in 2020 embraced the challenges posed by the COVID-19 pandemic, and engaged in or supported excellent teaching. These instructors and staff used innovative methods and worked beyond their traditional roles to ensure that students remained engaged and supported, and were challenged to do meaningful work under extraordinary circumstances"</li>
</ul>

<h2>Courses Taught</h2>
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Miscellaneous</h2>
<ul>
  <li> <b>Data 375: Pedagogy for Data Science</b> (UC Berkeley, 2021): assisted with the development of a required pedagogy course for first-time (under)graduate student instructors in data science. </li>
  <li> <b>Public Health W250FG: Epidemiological Methods II</b> and <b>Public Health 142: Probability and Statistics in Biology and Public Health</b> (UC Berkeley, 2019): supported the introduction of data science curriculm in R through the development of programming assignments and student-facing and instructor-facing autograders. </li>
</ul>
